

tr td {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  text-align: center;
}

tr td:hover {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: lightgrey;
}

